# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
data
#/model*

# dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.code-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings
_timestamp.json
.history/
certs/

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db
.env-*
inference_graph
*.pem
dist
dist-old
history*.txt
notes/

# But not these files...
!backup/*/*.*
